
@{
    ViewData["Title"] = "Salvar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AppGames.App.Models.Plataforma.PlataformaCadastroViewModel

<form class="form-horizontal" method="post" asp-controller="Plataforma" asp-action="Salvar">
    <div class="form-group">
        <label class="col-md-1 control-lbel" for="Nome">Nome</label>
        <div class="col-md-2">
            <input type="text" class="form form-control" asp-for="Nome" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" value="Salvar" class="btn btn-success" />
            @ViewBag.Mensagem
            <a href="/Plataforma/Index" class="btn btn-default">Voltar</a>
        </div>
    </div>
</form>

